:root {
    --background-clr: #554840;
    --primary-clr: #41533b;
    --secondary-clr: #9e9a75;
    --accent-clr: #604439;
}
*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.gridContainer {
    display: grid;
}
img {
    height: 300px;
    width: 400px;
}
