:root {
    --background-clr: #554840;
    --primary-clr: #41533b;
    --secondary-clr: #9e9a75;
    --accent-clr: #604439;
}
*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: "Flash Medium";
    src: url(fonts/Flash.otf), url(fonts/Flash.ttf), url(fonts/Flash.woff);
}
body {
    background-color: var(--background-clr);
    margin: 25px;
    margin-top: 0px;
    font-family: "Flash Medium";
    font-size: 1.15rem;
    text-shadow: 0.5px 0.5px 3px gray;
}
header {
    background-color: var(--secondary-clr);
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 75px;
    margin-bottom: 35px;
    padding: 15px;
}
nav ul {
    display: flex;
}
li {
    list-style-type: none;
    margin-left: 15px;
}
.gridContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 200vh;
    gap: 15px;
    overflow: hidden;
}
.campingContainer {
    background-color: var(--primary-clr);
    display: flex;
    flex-direction: column;
    align-items: space-between;
    justify-content: space-between;
    height: 100%;
    padding: 25px;
}
.dayHikeContainer {
    background-color: var(--primary-clr);
    display: flex;
    flex-direction: column;
    align-items: space-between;
    justify-content: space-between;
    height: 100%;
    padding: 25px;
}
.nightHikeContainer {
    background-color: var(--primary-clr);
    display: flex;
    flex-direction: column;
    align-items: space-around;
    justify-content: space-around;
    height: 100%;
    padding: 25px;
}
h2 {
    padding: 10px;
    text-align: center;
}
p {
    color: var(--secondary-clr);
    text-shadow: 1px 1px 3px black;
}
img {
    align-self: center;
    justify-self: flex-end;
    height: 300px;
    width: 400px;
}
